.boxshadow{
    -webkit-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.07);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.07);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.07);
}

.boxshadow2{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.left{
    float:left;
}

.right{
    float:right;
}

.hidden{
    display: none !important;
}

.noBorder{
    box-shadow: none !important;
}

.noBorder:focus{
    box-shadow: none !important;
}

[contenteditable=true]:empty:before {
    cursor:text;
    color:#b3b3b3;
    content: attr(placeholder);
    display: block; /* For Firefox */
  }

.btn-default{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 50px;
  }
  .btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }
  .btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
  }

.leftMenu{
    background-color:#323439;
    color:#666666;
    font-size:15px;
    z-index:9;
    height:100%;
    min-height: 382px;
    position:fixed;
    width:60px;
    overflow-y: hidden;
}

.leftMenuItem{
    margin-top:2px;
    cursor: pointer;
    padding-top:5px;
    padding-bottom:5px;
    height:60px;
    color:#ccc;
}

.leftMenuItem:hover{
    color:#fff;
}

.leftMenuItem.active{
    background-color:#1A1C1E;
    color:#fff;
}

.leftMenuItem .i{
    margin-top:9px;
    margin-left:13px;
    font-size:32px;
}

.bottomMenuItem{
    cursor: pointer;
    height: 55px;
    width: 55px;
    margin-top: -12px;
    padding-top: 12px;
    padding-left: 5px;
}

.bottomMenuItem:hover{
    background-color:#1A1C1E;
}