.file{
    font-size:14px;
    position:absolute;
    height:100%;
    width:70%;
    display:flex;
    padding-top:83px;
}

.file .grs{
    height:70px;
    background-color:#FAFAFA;
    border-bottom:solid 1px #eee;
    position:fixed;
    width:100%;
    top:0;
}

.file .grs .fsearch{
    font-size:17px;
    margin-top:15px !important;
    padding-right:20px !important;
}

.file .grresult{
    margin-left:90px;
    height:auto;
    overflow-y:hidden;
    display: flex;
    flex-direction: column;
    padding-right:15px;
}

.file .grresult:hover{
    overflow-y:scroll;
    padding-right:0px;
}

.file .grresult .text{
    border-radius:5px;
    word-wrap:break-word;
    padding:10px 10px 10px 0px;
    // border:solid 1px #eee;
    width:100%;
}

.file .grresult .tool{
    margin-top:5px;
    margin-bottom:50px;
}

.file .grresult .tool .fitem.i1{
    font-size:20px;
    margin-right:15px;
    cursor:pointer;
}

.file .grresult .tool .fitem.i2{
    font-size:20px;
    cursor:pointer;
}

.file .grresult .tool .fitem.i3{
    font-size:11px;
}

.file .grresult:hover .tool .fitem.i3{
    margin-right:5px;
}

.file .grresult .tool .fitem:hover{
    font-weight: bold;
    cursor:pointer;
}

.file .grs .clearSearch{
    float:right;
    margin-bottom:-65px;
    padding-top:6px;
    font-size:25px;
    font-weight:bold;
    cursor:pointer;
    color: #ccc;
}

.file .grs .clearSearch:hover{
    color: #666666;
}

.file_more{
    border-left:solid 1px #eee;
    display:flex;
    flex-direction:column;
    z-index:1;
    padding-top:75px;
    height:100%;
    right:0px;
    position:fixed;
    margin-left:15px;
    width:30%;
}

.file_more .inner{
    padding-left:10;
    overflow:hidden;
    height:100%;
    display:flex;
    flex-direction:column;
}

.file_more .inner:hover{
    overflow-y:scroll;
}

.file_more .inner .grr{
    margin-top:15px;
    margin-left:12px;
}

.file_more .inner .grr .l1{
    font-weight:bold;
    color:#ccc;
}

.file_more .inner .grr .lg{
    font-size:20px;
    margin-right:20px;
}

.file_more .inner .grr .lg .lg1{
    margin-right:15px;
}

.file_more .inner .grr .lgn{
    clear:both !important;
    padding-top:10px;
}

.file_more .inner .grr .lg .lg1 .voca{
    border-bottom:solid 1px red;
}

.file_more .inner .grr .lg .lg1 .type{
    margin-top:-5px;
    font-size:12px;
    margin-right:10px;
}

.file_more .inner .grr .item{
    margin-right:9px;
    font-size:20px;
    cursor: pointer;
}

.file_more .inner .grr .grouptoolmini{
    clear:both;
    margin-top:5px;
    margin-bottom:15px;
    margin-right:10px;
}

.file_more .inner .grr .item:hover{
    font-weight: bold;
}

.file_more .inner:hover .grouptoolmini{
    margin-right:0px;
}

.file_more .inner .showMoreGroup{
    padding-right:20px;
    margin-left:10px;
    margin-top:20px;
}

.file_more .inner:hover .showMoreGroup{
    padding-right:10px !important;
}

.file_more .inner .showMoreGroup .smsearch{
    padding-right:20px !important;
}

.file_more .inner .clearSearch{
    float:right;
    margin-bottom:-65px;
    padding-top:6px;
    font-size:25px;
    font-weight:bold;
    cursor:pointer;
    color: #ccc;
}

.file_more .inner .clearSearch:hover{
    color: #666666;
}

.file_more .inner .btnGroup{
    width:100%;
    padding-right:20px;
}

.file_more .inner:hover .btnGroup{
    padding-right:10px;
}

.file_more .inner .btnGroup .btnDD{
    width:100%;
}

.file_more .inner .btnGroup .ulDD{
    width:95%;
}

.file_more .inner:hover .ulDD{
    width:97%;
}