.folder{
    position:absolute;
    margin-top:50px;
    margin-left:90px;
    width:90%;
}

.folder .group{
    margin:'0 auto';
    height:200px;
    margin-top:40px !important;
}

.folder .group .item{
    height:100%;
    margin-bottom:30px;
    cursor: pointer;

    // Disabled select text
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
}

.folder .group .item .inner{
    padding: 10px 10px 50px 11px;
    border:'solid 1px #eee';
    border-radius:5px;
    height:100%;
}

.folder .group .item .inner:hover{
    -webkit-box-shadow: 3px 3px 16px 0px rgba(101, 71, 71, 0.33);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
}

.folder .group .item .inner .title{
    font-weight: bold;
    height: 25px;
    overflow: hidden;
}

.folder .group .item .inner .content{
    height:117px;
    overflow:hidden;
    word-wrap: break-word;
}

.folder .group .item .inner .bottom{
    position:absolute;
    bottom:10px;
    background-color:red;
}


