.history{
    font-size:14px;
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    padding-top:83px;
}

.history .grs{
    height:70px;
    background-color:#FAFAFA;
    border-bottom:solid 1px #eee;
    position:fixed;
    width:100%;
    top:0;
}

.history .grs .fsearch{
    font-size:17px;
    margin-top:15px !important;
    padding-right:20px !important;
}

.history .grresult{
    margin-left:90px;
    height:auto;
    overflow-y:hidden;
    display: flex;
    flex-direction: column;
    padding-right:15px;
}

.history .grresult:hover{
    overflow-y:scroll;
    padding-right:0px;
}

.history .grresult .text{
    border-radius:5px;
    word-wrap:break-word;
    padding:10px 10px 10px 0px;
    // border:solid 1px #eee;
    width:100%;
}

.history .grresult .tool{
    margin-top:5px;
    margin-bottom:50px;
}

.history .grresult .tool .fitem.i1{
    font-size:20px;
    margin-right:15px;
    cursor:pointer;
}

.history .grresult .tool .fitem.i2{
    font-size:20px;
    cursor:pointer;
}

.history .grresult .tool .fitem.i3{
    font-size:20px;
}

.history .grresult:hover .tool .fitem.i3{
    margin-right:5px;
}

.history .grresult .tool .fitem:hover{
    font-weight: bold;
    cursor:pointer;
}

.history .grs .clearSearch{
    float:right;
    margin-bottom:-65px;
    padding-top:6px;
    font-size:25px;
    font-weight:bold;
    cursor:pointer;
    color: #ccc;
}

.history .grs .clearSearch:hover{
    color: #666666;
}
