.profile{
    position:absolute;
    margin-top:50px;
    margin-left:90px;
    width:90%;
}

.profile .group{
    margin:'0 auto';
    height:200px;
    margin-top:40px !important;
}

.profile .group .item{
    height:100%;
    margin-bottom:30px;
    cursor: pointer;

}

.profile .group .item .inner{
    padding: 10px 10px 15px 11px;
    border:'solid 1px #eee';
    border-radius:5px;
    height:auto;
}

.profile .group .item .inner:hover{
    -webkit-box-shadow: 3px 3px 16px 0px rgba(101, 71, 71, 0.33);
    -moz-box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.33);
}

.profile .group .item .inner .title{
    font-weight: bold;
    height: auto;
    overflow: hidden;
}

.profile .group .item .inner .content{
    margin-top:10px;
    height:auto;
    overflow:hidden;
    word-wrap: break-word;
}

.profile .group .item .inner .bottom{
    margin-top:40px;
    background-color:red;
}

.editForm{
    background-color:#fff;
    border-radius:5px;
    border: solid 1px #ccc;
    margin-right:10px;
}

.editForm .l1{
    margin:15px 15px 10px 15px;
}

.editForm .l2{
    height:40px;
    margin:30px 15px 20px 15px;
}
